.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0px 6px;
}

.logo {
    width: 100px;
}

.header>.nav-items {
    padding: 10px 0px;
}

.header>.nav-items>ul {
    display: flex;
}

.header>.nav-items>ul>li {
    list-style-type: none;
    margin: 0px 15px;
}


.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 200px;
    /* height: 350px; */
    padding: 2px;
    background-color: aliceblue;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
    margin: 10px;
}

.res-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 0.7s ease;
    transform: scale(0.99);
    cursor: pointer;
}

.res-logo {
    width: 100%;
    height: 150px;
    border-radius: 16px 16px 0px 0px;
}

a {
    text-decoration: none;
    color: black;
}

.search-btn {
    cursor: pointer;
}

.filter {
    display: flex;
    margin: 6px;
}

.filter-btn {
    margin: 0px 6px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    box-sizing: border-box;
    width: 200px;
    height: 400px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 16px;
    padding: 8px;
}

.login {
    cursor: pointer;
}

.user {
    border: 2px solid gray;
    border-radius: 8px;
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 60%
}